header{
  background-color: #2a9d8f;
  padding: 0% 5%;
}

.DivFlex{
  width: 100%;
  display: flex;
}

section{
  padding: 1% 5%;
  background-color: #264653;
}

footer{
  background-color: #2a9d8f;
  padding: 0% 5%;
  display: flex;
}

ul{
  list-style-type: none;
  margin-left: -40px;

}

li{
  display: inline-block;
  margin-right: 20px;
}

.Caption {
  color: #134842;
  font-family: "Varela Round",sans-serif;
  font-weight: 10;
  font-size: 60px;
  margin: auto;
  box-shadow: gray;
}

.ShadowBox{
  background-color: antiquewhite;
  box-shadow: green;
  width: max-content;
  margin: auto;
  border-radius: 30%;
}

.ShadowBox > h1{
  padding: 30px;
}

